@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

.productParent{
    display: flex;
    
    justify-content: center;
    padding: 20px;
    height: 91vh;
    background-color: #eee;
}
.productParent .productGallery{
    overflow: hidden;
    width: 600px;
}
.productGalleryChild{
    width:60%;
    position: relative;
    
    top: 50%;
    left: 50%; 
     transform: translate(-50%, -50%);
}
.productParent .productDetail{
    
    width: 600px;
}
.productParent .productDetail .productDetailChild{
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%; 
     transform: translate(-50%, -50%);
}
.productParent .productGallery .productGalleryChild .productImg{
    width: 100%;
}
.productImg img{
    width: 100%;
}
.productGallery .productImgChild{
    display: flex;
    width: 100%;
}
.productImgChild img{
    width: 25%;
}
.productDetail .productDetailChild .productHeading{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 30px;
}
.productDetail .productDetailChild #productCaption{
    font-weight: 400;
    font-size: 19px;
    color: rgb(101, 101, 101);
}
.productDetail .productDetailChild #productPrice{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 30px;
}
.productDetail .productDetailChild #productPriceCut{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: rgb(101, 101, 101);
    margin-left: 10px;
}
.productDetail .productDetailChild #discountPercent{
    color: rgb(255, 64, 0);
    margin-left: 12px;
}
.productDetail .productDetailChild #tax{
    color: rgb(0, 151, 25);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.productDetail .productDetailChild #selectSize{
font-weight: 700;
font-size: 16px;
margin-top: 40px;
}


.productDetail .productDetailChild .size{
     display: flex;
}
.productDetail .productDetailChild .size .sizeS{
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
 
    margin: 4px;
}
.productDetail .productDetailChild .size .sizeS #s{
font-weight: 600;
}
.productDetail .productDetailChild .size .sizeS .productPriceInside{
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    }
.productDetail .productDetailChild .size .sizeS:hover{
color: rgb(255, 64, 0);
}
.productDetail .productDetailChild .buyCartbtn{
    
    margin-top: 20px;
}
.productDetail .productDetailChild #productCart{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border-width: 1px;
    font-weight: 500;
    background-color: rgb(245, 213, 218);
    box-shadow: rgba(255, 0, 123, 0.45) 0px 25px 20px -20px;
}
.productDetail .productDetailChild #productCart:active{
    background-color: rgb(240, 148, 162);
    color: white;
}
.productDetail .productDetailChild #productBuy{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    border-width: 1px;

    box-shadow: rgba(255, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgb(250, 68, 98);
}
.productDetail .productDetailChild #productBuy:active{
    background-color: rgb(253, 5, 5);
    color: #eee;
}

.productPriceInside{
    margin-bottom: 0;
}
#s{
    margin-bottom: 0;
}
@media (max-width:1100px){
    .productParent .productGallery{
    
        width: 490px;
    }
    .productParent .productDetail{
    
        width: 490px;
    }
    .productGalleryChild{
        width: 60%;
    }
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 15px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 10px;
            }
}
@media (max-width:960px){
    .productParent .productGallery{
    
        width: 340px;
    }
    .productParent .productDetail{
    
        width: 440px;
    }
    .productGalleryChild{
        width: 100%;
    }
    .productParent .productDetail{
        width: 80%;
    }
}
@media (max-width:830px){
    .productParent .productGallery{
    
        width: 550px;
    }

    .productParent .productDetail{
        width: 95%;
    }
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 11px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 9px;
            }
    .productDetail .productDetailChild .buyCartbtn #productCart{
        width: 100%;
     }
     .productDetail .productDetailChild #productBuy{
        width: 100%;
     }
}
@media (max-width:766px){
    .productParent{
        flex-wrap: wrap;
        height: auto;
    }
    .productParent .productGallery{
        width: 100%;
    }
    .productGalleryChild{
        width: 100%;
    }
    .productParent .productDetail{
        margin-top: 30px;
        width: 100%;
    }
    .productParent .productDetail .productDetailChild{
        width: 100%;
    }
    .productDetail .productDetailChild .size .sizeS{
        margin: 2px;
    }
    .productDetail .productDetailChild .size .sizeS #s{
    font-size: 12px;
    }
    .productDetail .productDetailChild .size .sizeS .productPriceInside{
        font-size: 10px;
        }
    .productDetail .productDetailChild #productBuy{
        margin-bottom: 50px;
     }
     .productDetail .productDetailChild .buyCartbtn #productCart{
        margin-left: 0px;
     }
     .productDetail .productDetailChild #productBuy{
        margin-left: 0px;
     }
}
@media (max-width:359px){
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 9px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 10px;
            }
}
